@import 'annul'
@import 'form'
body
    background-color: #985ACE
.container
    padding: 0 10%
.game
    
    .global_container
        border: 5px solid #000
        background-color: #021C1E
        width: 1920px
        height: 1080px
        .header
            margin-top: 20px
            padding: 0 23px
            padding-right: 16px
            border: 5px solid #000
            display: flex
            background: #D9D9D9
            justify-content: space-between
            .nav
                width: 438px
                height: 55px
                padding-right: 20px
                padding-top: 2px
                background-color: #D7E2FF
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
                border: 5px solid #000
                border-radius: 20px
                display: flex
                justify-content: flex-end
                .nav_input
                    display: none
                .search
                    background: none
                    border: none
                    width: 42px
                    height: 42px
                    cursor: pointer
            .nav_close
                border: none
                cursor: pointer