@import 'annul'
body
    background-color: #985ACE
.container
    padding: 0 10%
.form
    margin-top: 100px
    .container
        .big_form
            width: 458px
            height: 100%
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
            background: #fff
            padding: 87px 93px
            padding-bottom: 83px
            border-radius: 30px
            .sign
                width: 49px
                height: 22px
                display: flex
                flex-direction: row
                gap: 25px
                .btn_form
                    color: #000
                    text-align: center
                    font-family: HelveticaNeue
                    font-size: 14px
                    font-weight: 700
                    text-transform: uppercase
                    text-decoration: none
                    background: none
                    border: none
                    cursor: pointer
            .input_form
                margin-top: 45px
                display: flex
                flex-direction: column
                gap: 10px
                border-radius: 10px
                .inp
                    width: 273px
                    height: 100%
                    padding: 3px 0 8px 16px
                    display: flex
                    flex-direction: column
                    border-radius: 7px
                    background: #F8F1FF

                    color: rgba(64, 58, 75, 0.60)
                    font-family: Lora
                    font-size: 14px
                    font-weight: 400
                    input
                        width: 80%
                        background: #F8F1FF
                        font-size: 12px
                        border: none
            .check_box
                margin-top: 20px
                display: flex
                gap: 10px
                font-size: 12px
                font-family: HelveticaNeue
                display: none
            .reg
                margin-top: 37px
                width: 273px
                height: 40px
                display: flex
                justify-content: center
                align-items: center
                background: #985ACE
                border-radius: 7px
                /* box-shadow: 273px 0.5px rgba(0, 0, 0, 0.5) */
                a
                    color: #FFF
                    text-align: center
                    font-family: HelveticaNeue
                    font-size: 12px
                    font-weight: 700
                    text-transform: uppercase
                    text-decoration: none
            #forgot_password
                display: flex
                justify-content: center
                align-items: center
                flex-shrink: 0
                font-size: 12px
                font-family: HelveticaNeue
                color: #000
                text-decoration: none
                margin-top: 27px
                display: none
            .continue_google
                width: 273px
                height: 40px
                border-radius: 7px
                border: 1px solid #985ACE
                margin-top: 40px
                display: flex
                flex-direction: row
                padding: 10px 31px
                text-decoration: none
                .continue
                    color: #000
                    text-align: center
                    font-family: HelveticaNeue
                    font-size: 12px
                    margin-left: 22px
                    